.stories-content {
  max-height: 700px;
  width: 928px;
  overflow-y: auto;
  padding: 10px 30px 10px 70px;
}
.dataMarkUp {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 3px;
  border: 1px solid var(--white);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;

  &-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    padding-right: 5px;

    &-text {
      display: flex;
      flex-direction: column;
      align-items: stretch;

      &-title {
        width: auto;
        height: 25px;
        margin: 0px 50px 25px 10px;
        padding-top: 5px;
        font-family: Lato;
        font-size: 16px;
        color: #000;
      }

      &-description {
        width: 614px;
        height: 69px;
        margin: 10px 131px 15px 20px;
        font-family: Lato;
        font-size: 15px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.53;
        letter-spacing: normal;
        color: #292929;
      }

      &-domainInfo {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
      }
    }

    &-score-wrpr {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-top: 5px;

      &-score {
        width: 40px;
        height: 30px;
        padding: 3px 3px;
        border-radius: 5px;
        border: 1px solid var(--greeny-blue);
        background-color: #fff;
        text-align: center;

        &-green {
          color: var(--greeny-blue);
          border-color: var(--greeny-blue);
        }

        &-orange {
          color: #ffb300;
          border-color: #ffb300;
        }

        &-red {
          color: #ef6c00;
          border-color: #ef6c00;
        }
      }

      &-scoreBtn {
        margin: 10px;
        background-color: #fff;
        border: none;
        cursor: pointer;
      }
    }
  }

  &-img {
    width: 18px;
    height: 18px;
    margin: 6px 10px 12px 20px;
  }

  &-domainNameTime {
    width: 114px;
    height: 15px;
    font-family: Lato;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #666;
  }

  &-bookmarks {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border: 1px solid var(--white-two);
    width: 100%;

    &-btn {
      padding: 5px;
      margin: 5px;
      background-color: #fff;
      font-size: 16px;
      border: none;
      cursor: pointer;
      &-txt {
        margin: 5px;
      }
    }
    &-btn:hover {
      color: blue;
    }
  }
}
